
:root{
    --aten: #E21F2c;
    --light: #f5f5f5;
    --dark: #2D2B2C;
}
body{
    display: flex;
    justify-content: center;
}
@font-face {
    font-family: 'bold';
    src: url('/fonts/FamiljenGrotesk-Bold.ttf'), url('/fonts/FamiljenGrotesk-Bold.ttf') format('truetype'), url('/fonts/FamiljenGrotesk-Bold.ttf') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'normal';
    src: url('/fonts/FamiljenGrotesk-Regular.ttf'), url('/fonts/FamiljenGrotesk-Regular.ttf') format('truetype'), url('/fonts/FamiljenGrotesk-Regular.ttf') format('svg');
    font-weight: normal;
    font-style: normal;
}


footer{
    padding: 0 50px;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'normal';
}
h1{
    font-family: 'bold';
}
p , span {
    font-family: 'normal';
}


   